h1{
    border: 5px solid brown;
    /* padding-top: 40px;
    padding-left: 40px; */
    /* padding: 40px; */
    /* padding: 20px 40px; */
    /* margin: 40px; */
    width: 500px;
    margin: 20px auto;
}